$body: #212121;
$primary-color: #fff;
$primary-font: "Roboto", sans-serif;
$primary-color-light: #fff;



//Components
//Buttons
$btn-color: #fff;
$btn-bg: none;
$btn-border: 2px white solid;

$btn-color-hover: #000;
$btn-bg-hover: #fff;


//Forms
$form-color: #9B9B9B;
$form-input-bg: $body;